@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.order-card {
  padding: 20px;
  border-radius: 8px;
  color: #2c3e50;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  border-left: 5px solid #007bff;
  width: 220px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.order-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.order-card.new {
  border-left: 5px solid #007bff;
}

.order-card.on-cook {
  border-left: 5px solid #ffa500;
}

.order-card.prepared {
  border-left: 5px solid #286ea7;
}

.order-card.taken {
  border-left: 5px solid #576877;
}



.order-card:hover .order-design-element {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.order-username-number {
  display: flex;
  justify-content: space-between;
  width: 220px;
  font-family:  'Inter', bold;
}

.order-phone {
  align-self: flex-start;
}

.order-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.order-username {
  font-weight: bold;
  font-size: 1.2em;
  /* color: #34495e; */
}

.order-state {
  font-weight: 200; /* Средняя жирность шрифта */
  border-radius: 16px; /* Более скругленные углы */
  padding: 4px 12px; /* Увеличенные отступы */
  font-size: 14px; /* Размер текста */
  line-height: 1.5; /* Высота строки для выравнивания */
  text-transform: capitalize; /* Заглавная первая буква */
  display: inline-block;
  align-self: center  ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Аккуратный системный шрифт */
}

/* Стиль для состояния "New" */
.order-state.new {
  background-color: #007bff; /* Синий фон */
  color: #fff; /* Белый текст */
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-family: 'Inter', light;
}


.item-details {
  flex-grow: 1;
}

.svg-time {
  align-self: center;
}

.order-time-wrapper {
  display: flex;
  /* align-items: center; */
  /* gap: 3px; */
}
.order-code-time-wrapper {
  border-bottom: 1px solid #ddd;
  font-family: "Inter", Regular;
  margin-top: -20px;
}


.order-time {
  font-size: 14px; /* Настройте размер шрифта по необходимости */
  color: #333; /* Пример цвета текста */
}


.item-size {
  margin-left: auto;
  white-space: nowrap;
}

/* Стиль для состояния "On Cook" */
.order-state.on-cook {
  background-color: #ff8c00; /* Оранжевый фон */
  color: #fff;
}

/* Стиль для состояния "Prepared" */
.order-state.prepared {
  background-color: #2831a7; /* Зеленый фон */
  color: #fff;
}

/* Стиль для состояния "Completed" */
.order-state.completed {
  background-color: #6c757d; /* Серый фон */
  color: #fff;
}


.order-time {
  margin: 10px 0;
  font-size: 0.9em;
  color: #bbb;
  /* padding-bottom: 10px; */
}

.order-code {
  font-size: 0.9em;
  color: #bbb;
  margin-bottom: 10px;
  margin-top: -10px;
  align-self: center;
}
/* Контейнер для прокрутки */

.order-item-total {
  font-family: 'Inter', bold;
}

.order-code-wrapper {
  margin-bottom: 5px;
}

.order-code-wrapper img {
  margin-top: -10px;
}



.order-items li {
  font-size: 0.9em;
  margin: 10px 0;
}
.order-items .order-item-total{
  font-size: 1.2em;
  margin: 10px 0;
}

.order-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 10px;
  border-top: 1px solid #ddd;
  padding-top: 30px;
}

.order-actions button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9em;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.order-actions button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.order-actions .accept-btn {
  background-color: #28a745;
}

.order-actions .accept-btn:hover {
  background-color: #218838;
}

.order-actions .done-btn {
  background-color: #ffc107;
}

.order-actions .done-btn:hover {
  background-color: #e0a800;
}

.order-actions .taken-btn {
  background-color: #1f4668;
}

.order-actions .taken-btn:hover {
  background-color: #253642;
}
.order-actions .completed-btn {
  visibility: hidden;
}

.order-items {
  max-height: 150px; /* Ограничиваем высоту */
  overflow-y: auto; 
  margin: 10px 0;
  padding-right: 10px; /* Чтобы был зазор для скроллбара */
  /* border: 1px solid #ddd; Легкая рамка */
  /* border-radius: 8px; */
  /* background: #f9f9f9; Светлый фон */
}

/* Стили для скроллбара */
.order-items::-webkit-scrollbar {
  width: 5px;
}

.order-items::-webkit-scrollbar-thumb {
  background: #6c63ff; /* Цвет ползунка */
  border-radius: 4px;
}

.order-items::-webkit-scrollbar-thumb:hover {
  background: #5a54d1; /* Цвет при наведении */
}

.order-items::-webkit-scrollbar-track {
  /* background: #e6e6e6; Цвет трека */
  border-radius: 4px;
}



